In [1]:
import pandas as pd
import  numpy as np
import pymongo
from pymongo import MongoClient
from time import gmtime, strftime
from datetime import datetime



# Current Date

In [2]:
date = datetime.now().strftime('%Y-%m-%d')
date

'2020-06-10'

# https://www.coronatracker.com/country/india/

In [3]:
df = pd.read_json("https://api.coronatracker.com/v4/analytics/newcases/country?countryCode=IN&startDate=2020-04-10&endDate=2020-06-10")

In [4]:
df.tail()

,country,country_code,last_updated,new_deaths,new_infections,new_recovered
0,India,IN,2020-04-11T00:00:08.000Z,42,848,195
1,India,IN,2020-04-12T00:00:08.000Z,43,759,111
2,India,IN,2020-04-13T00:00:08.000Z,27,1248,101
3,India,IN,2020-04-14T00:00:08.000Z,35,1034,178
4,India,IN,2020-04-15T00:00:09.000Z,12,835,73
5,India,IN,2020-04-16T00:00:09.000Z,43,1108,336
6,India,IN,2020-04-17T00:00:08.000Z,38,922,273
7,India,IN,2020-04-18T00:00:09.000Z,35,1370,422
8,India,IN,2020-04-19T00:00:08.000Z,38,1893,391
9,India,IN,2020-04-20T00:00:08.000Z,33,924,419
10,India,IN,2020-04-21T00:00:08.000Z,53,1541,702
11,India,IN,2020-04-22T00:00:07.000Z,36,1290,395
12,India,IN,2020-04-23T00:00:07.000Z,40,1669,642
13,India,IN,2020-04-24T00:00:09.000Z,59,1408,484
14,India,IN,2020-04-25T00:00:08.000Z,45,1836,443
15,India,IN,2020-04-26T00:00:08.000Z,57,1607,584
16,India,IN,2020-04-27T00:00:08.000Z,57,1561,614
17,India,IN,2020-04-28T00:00:08.000Z,69,1909,610
18,India,IN,2020-04-29T00:00:07.000Z,71,1702,690
19,India,IN,2020-04-30T00:00:07.000Z,75,1800,631
20,India,IN,2020-05-01T00:00:06.000Z,69,2395,939
21,India,IN,2020-05-02T00:00:07.000Z,100,2442,812
22,India,IN,2020-05-03T00:00:07.000Z,68,2806,956
23,India,IN,2020-05-04T23:59:01.000Z,175,3932,1072
24,India,IN,2020-05-05T00:00:08.000Z,127,2963,1295
25,India,IN,2020-05-06T00:00:07.000Z,92,3587,1189
26,India,IN,2020-05-07T00:00:08.000Z,104,3364,1445
27,India,IN,2020-05-08T00:00:08.000Z,0,0,0
28,India,IN,2020-05-09T23:59:01.000Z,225,7788,2582
29,India,IN,2020-05-10T13:45:04.000Z,98,3022,1611
30,India,IN,2020-05-11T00:00:09.000Z,82,3607,1580
31,India,IN,2020-05-12T00:00:07.000Z,121,3524,1871
32,India,IN,2020-05-13T00:00:10.000Z,136,3763,1980
33,India,IN,2020-05-14T00:00:07.000Z,98,3942,1569
34,India,IN,2020-05-15T00:00:10.000Z,104,3787,2265
35,India,IN,2020-05-16T00:00:11.000Z,118,4864,3990
36,India,IN,2020-05-17T00:00:07.000Z,154,5050,2571
37,India,IN,2020-05-18T00:00:11.000Z,131,4642,2438
38,India,IN,2020-05-19T00:00:09.000Z,146,6135,3076
39,India,IN,2020-05-20T00:00:10.000Z,132,5553,3113
40,India,IN,2020-05-21T00:00:08.000Z,150,6198,3131
41,India,IN,2020-05-22T00:00:11.000Z,142,6568,3271
42,India,IN,2020-05-23T00:00:10.000Z,142,6629,2561
43,India,IN,2020-05-24T00:00:08.000Z,156,7113,3307
44,India,IN,2020-05-25T00:02:00.000Z,148,6414,3014
45,India,IN,2020-05-26T00:00:00.000Z,177,5843,3571
46,India,IN,2020-05-27T00:02:00.000Z,185,7293,3472
47,India,IN,2020-05-28T00:02:00.000Z,177,7300,3171
48,India,IN,2020-05-29T00:02:00.000Z,269,8105,11707
49,India,IN,2020-05-30T00:08:00.000Z,205,8336,4309
50,India,IN,2020-05-31T00:05:00.000Z,223,8782,4916
51,India,IN,2020-06-01T00:08:00.000Z,200,7761,3902
52,India,IN,2020-06-02T00:03:00.000Z,0,0,0
53,India,IN,2020-06-03T17:11:00.000Z,480,18454,8317
54,India,IN,2020-06-04T00:01:00.000Z,275,9889,4379
55,India,IN,2020-06-05T00:01:00.000Z,286,9471,4781
56,India,IN,2020-06-06T00:02:00.000Z,297,10438,5464
57,India,IN,2020-06-07T00:04:00.000Z,261,10884,5153
58,India,IN,2020-06-08T00:05:00.000Z,266,8422,5247
59,India,IN,2020-06-09T00:03:00.000Z,277,10218,5572

# Saving India data in csv file

In [5]:
India = df.tail(1)
India
India.to_csv(date + "_India.csv")

# https://www.covid19india.org/

In [6]:
df2 = pd.read_json("https://api.covid19india.org/updatelog/log.json")
df2 = pd.DataFrame(df2)

list = []
for i in df2["update"]:
    i = i.split()
    list.append(i)

# Maharashtra

In [7]:
Maharashtra = [s for s in list if "Maharashtra" in s]
New_cases_in_Maharashtra = Maharashtra[0][0]
Recoveries_in_Maharashtra = Maharashtra[1][0]
Deaths_in_Maharashtra = Maharashtra[2][0]
Maharashtra = [date,New_cases_in_Maharashtra,Recoveries_in_Maharashtra,Deaths_in_Maharashtra]
Maharashtra
Maharashtra = pd.DataFrame(Maharashtra)
Maharashtra  = Maharashtra.transpose()
Maharashtra.columns = ["Date","New_cases_in_Maharashtra","Recoveries_in_Maharashtra","Deaths_in_Maharashtra"]
Maharashtra.head()

,Date,New_cases_in_Maharashtra,Recoveries_in_Maharashtra,Deaths_in_Maharashtra
0,2020-06-10,2258,1664,120


# Karnataka

In [8]:
Karnataka = [s for s in list if "Karnataka" in s]
New_cases_in_Karnataka = Karnataka[0][0]
Recoveries_in_Karnataka = Karnataka[0][3]
Deaths_in_Karnataka = Karnataka[0][6]

Karnataka = [New_cases_in_Karnataka,Recoveries_in_Karnataka,Deaths_in_Karnataka]
Karnataka

Karnataka = pd.DataFrame(Karnataka)
Karnataka = Karnataka.transpose()
Karnataka.columns = ["New_cases_in_Karnataka","Recoveries_in_Karnataka","Deaths_in_Karnataka"]
Karnataka.head()

  New_cases_in_Karnataka Recoveries_in_Karnataka Deaths_in_Karnataka
0                    161                     164                   2

# Saving Maharashtra & Karnataka data in csv file

In [9]:
df = pd.concat([Maharashtra,Karnataka],axis =1)
df
df.to_csv(date + "_State.csv",index = False)

# uploading state data in Mongodb

In [10]:
client = MongoClient('localhost', 27017)
db = client.covid
state = db.state
state = pd.read_csv(date + "_State.csv") #csv file which you want to import
records_ = state.to_dict(orient = 'records')
result = db.state.insert_many(records_ )

# uploading India data in Mongodb

In [11]:
client = MongoClient('localhost', 27017)
db = client.covid
India = db.India
India = pd.read_csv(date + "_India.csv") #csv file which you want to import
records_ = India.to_dict(orient = 'records')
result = db.India.insert_many(records_ )